<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Footer Column 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer-col">
                    <h3 class="footer-title">ELEGANCE</h3>
                    <p class="footer-desc">
                        Vẻ đẹp thanh lịch vượt thời gian hoà quyện với thiết kế hiện đại. Khám phá thời trang cao cấp định hình phong cách của bạn.
                    </p>
                    <div class="footer-social">
                        <a href="#" class="social-link" aria-label="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-link" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="social-link" aria-label="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-link" aria-label="Pinterest">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Footer Column 2 -->
            <div class="col-6 col-md-6 col-lg-3">
                <div class="footer-col">
                    <h4 class="footer-heading">Quick Links</h4>
                    <ul class="footer-links">
                        <li><a href="/Home">Trang chủ</a></li>
                        <li><a href="shop.html">Giới thiệu</a></li>
                        <li><a href="/News">Tin tức</a></li>
                        <li><a href="/About">Về chúng tôi</a></li>
                        <li><a href="/Contact">Liên hệ</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Column 3 -->
            <div class="col-6 col-md-6 col-lg-3">
                <div class="footer-col">
                    <h4 class="footer-heading">Customer Service</h4>
                    <ul class="footer-links">
                        <li><a href="#">Thông tin vận chuyển</li>
                        <li><a href="#">Trả hàng</a></li>
                        <li><a href="#">Hướng dẫn chọn kích thước</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>

            <!-- Footer Column 4 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer-col">
                    <h4 class="footer-heading">Bản tin</h4>
                    <p class="footer-newsletter-text">Đăng ký để nhận thông tin cập nhập và ưu đãi độc quyền</p>
                    <form class="footer-newsletter">
                        <input type="email" placeholder="Your email address" class="newsletter-input" required>
                        <button type="submit" class="newsletter-btn">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <p class="footer-copyright">
                        © 2024 Elegance. Bảo lưu mọi quyền.
                    </p>
                    <div class="footer-payment">
                        <i class="fab fa-cc-visa"></i>
                        <i class="fab fa-cc-mastercard"></i>
                        <i class="fab fa-cc-amex"></i>
                        <i class="fab fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>